.tic-table td{
    padding: 0px;
}

.tic-table-button {
    width: 100px;
    height: 100px;
    display: block;
    border: 2px solid black;
    background: rgb(194, 194, 194);
    font-size: 5em;
    text-align: center;
}

.tic-table-button-active:hover{
    background-color: rgb(160, 160, 160);
}

.tic-table-win {
    background: rgb(0, 233, 70);
}

.tic-table-lose {
    background:rgb(172, 0, 0);
}